<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Training Grounds</title>
    <link rel="stylesheet" href="../../../resources/static_resources/styles/bootstrap.min.css" >
    <link rel="stylesheet" href="../../../resources/static_resources/styles/common.css" >
    <link rel="stylesheet" href="../../../resources/static_resources/styles/streams_style.css" >
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Training Grounds</a>
</nav>
<div class="container">
    <div class="content-container">
        <h4>Streams Training</h4>
    </div>
</div>
</body>
<script src="../../../resources/static_resources/scripts/jquery-3.3.1.min.js" ></script>
<script src="../../../resources/static_resources/scripts/bootstrap.min.js" ></script>
</html>