h4{
    margin-bottom: 20px;
}

.navbar-brand{
    font-weight:bold;
    font-size:16pt;
}

.content-container{
    padding : 20px;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.content-container > p{
    margin-bottom: 20px;
    color: #999999;
    margin-top: 40px;
}

.box{
    padding:10px;
    display:inline-block;
    vertical-align: top;
    border-radius:5px;
    width:120px;
    height:140px;
    background-color:#50ef7a;
    box-shadow: 1px 1px 2px black;
    margin-right:20px;
}

.box > p {
    color: #135d24;
    margin-bottom: 25px;
}

.box > a {
    text-decoration: none;
    display:block;
    border-radius: 5px;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    background-color:#d07f2d;
    color:white;
}

.box > a:hover {
    background-color:#d0ad2d;
}

.text_align_left{
    text-align: left;

}

.normal_p{
    color:black;
}

.data_block{
    background-color: #d5ecd9;
    border-radius: 5px;
    padding:10px;
}